<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/admin/editProductsAdmin.css" />
  </head>
  <body>
    <%- include('../includes/header.ejs')%>
    <main>
      <div id="itemsContainer">
        <% products.forEach((product)=>{ %>
        <div class="product">
          <div>
            <h1><%= product.title %></h1>
          </div>
          <div>
            <img src="<%= product.img %>" />
          </div>
          <div>
            <h2><%= product.price %>$</h2>
          </div>
          <div>
            <p><%= product.description %></p>
          </div>
          <div>
            <button class="editProductBtn">
              <a href="/admin/editProducts/editProduct/<%= product.id %>">Edit Product</a>
            </button>
          </div>
        </div>
        <%})%>
      </div>
    </main>
  </body>
</html>
